<% if @blog_categories.any? %>
  <div class="widget">
    <h2>
      Categories
    </h2>
    <ul>
      <% @blog_categories.each do |category| %>
      <li>
        <%= link_to "#{category.title} (#{category.post_count})", blog_category_url(category) %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
