<!-- START CONTENT -->
  <div id="content">
      <div class="inner"> 
		  <h2 class="title-page"><%= @page.title %></h2>
        <%= raw @page.content_for(:body) %>              
    	</div>
  </div>
  <!-- END CONTENT -->
