/ START SLIDER
#slideshow
  .images
    .container
      - if @page.images.empty?
        = image_tag 'slider/s1.png', :title => 'image'
      - @page.images.each do |img|
        = image_tag img.url, :title => 'image'
  .shadow-slideshow
:javascript
        jQuery(document).ready(function($){
            $('#slideshow .container').nivoSlider({
                controlNav:false, 
                directionNav:false, 
                keyboardNav:false, 
                slices:20,
                captionOpacity:0,
                animSpeed: 500,
                pauseTime: 3000
            });
          });
/ END SLIDER

/ START CONTENT
#content
  .inner
    %h2.title-page= @page.title
    = raw @page.content_for(:body)
/ END CONTENT
